*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --border: rgba(230, 228, 228, 0.5);
}

body {
    background: url(./img/body.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    opacity: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 90%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 25px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 20px 20px 0px rgba(150, 150, 150, 0.5);
    transition: all 0.7s ease;
}

.header {
    width: 100%;
    min-height: 40px;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.nav {
    display: flex;
}

.nav-link {
    color: #ede7e7;
    font-weight: normal;
    font-size: 21px;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    background: #ede7e7;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.back-btn {
    width: 70px;
    height: 40px;
    background: linear-gradient(to right, #c24e4e, #555555);
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-btn:hover {
    box-shadow: 0px 2px 20px 0px #333333;
}

.back-link {
    color: #ede7e7;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.content {
    width: 100%;
    padding: 10px;
    flex: 1;
}

.title {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.infobox {
    float: right;
    margin-top: 10px;
    width: 320px;
    min-height: 300px;
    border: 1px solid var(--border);
    border-radius: 25px;
}

.infobox-title-div-wrapper {
    display: flex;
    justify-content: center;
}

.infobox-title-div {
    width: 90%;
    min-height: 50px;
    margin-top: 10px;
    background: rgba(17, 13, 252, 0.5);
    box-shadow: 0px 10px 20px 0px rgba(150, 150, 150, 0.5);
    border: 1px solid var(--border);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 19px;
    font-weight: bold;
}

.infobox-icon-div {
    width: 90%;
    min-height: 110px;
    border: 1px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 25px;
}

.infobox-icon-wrapper {
    display: flex;
    justify-content: center;
}

.infobox-icon {
    width: 80%;
    height: 100px;
    object-fit: contain;
}

.lists-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7px;
}

.list {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 7px;
}

.list-link {
    color: white;
    text-decoration: none;
    position: relative;
}

.list-link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: white;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.5s ease;
}

.list-link:hover::after {
    transform: scaleX(1);
}

.text {
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin: 7px;
    margin-top: 10px;
}

.footer {
    width: 100%;
    min-height: 40px;
    border-top: 1px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.info-footer {
    display: flex;
}

.info-email {
    color: #ede7e7;
    margin-left: 10px;
    font-size: 17px;
    font-weight: normal;
}

.info-tel {
    color: #ede7e7;
    margin-left: 10px;
    font-size: 17px;
    font-weight: normal;
}

@media(max-width:700px) {
    .text-infobox-wrapper {
        display: flex;
        flex-direction: column;
    }

    .infobox {
        width: 100%;
    }
}

@media(max-width:570px) {
    .title {
        font-size: 28px;
    }

    .header {
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
}

@media(max-width:500px) {
    .info-footer {
        flex-direction: column;
    }

    .info-email {
        margin-top: 10px;
    }

    .info-tel {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media(max-width:400px) {
    .title {
        font-size: 24px;
    }
}